@import "breakpoints";

.courses-page {
  padding-top: 2rem;
  min-height: 100vh;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;

  @include breakpoint-small-down {
    padding-top: 3rem;
  }

  h1 {
    padding: 1rem 0;
    font-size: 3rem;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  .content-grid {
    flex: auto;
  }

  .courses-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include breakpoint-small-down {
      flex-direction: column;
      align-items: center;
    }
  }
}
